<div class="list-container">
  <button class="btn-back" (click)='goBack()'>
        ← Quay lại
      </button>
  <div class="list-header">
    <div class="breadcrumb">
      <a routerLink="/library">Thư viện</a> <span class="separator">/</span> <span>Danh sách</span>
    </div>
    <div class="title-group">
      <h1>{{ listTitle }}</h1>
      <span class="stats-badge">{{ totalItems }} tài liệu</span>
    </div>
  </div>

  <div class="search-container" style="margin-bottom: 20px;">
  <input type="text" 
    #searchInput 
    [value]="searchKeyword"
    (keyup.enter)="onSearch(searchInput.value)"
    placeholder="Tìm kiếm trong danh sách này..." 
    class="hero-search-input" />
  <button class="hero-search-btn" (click)="onSearch(searchInput.value)">
    🔍
  </button>
</div>


  <div *ngIf="isLoading" class="loading-state">
    <div class="spinner"></div>
    <p>Đang tải dữ liệu...</p>
  </div>

  <div class="books-grid" *ngIf="!isLoading">
    <div *ngFor="let doc of documents" class="book-card" [routerLink]="['/library/document', doc.id]">

      <div class="book-cover">
        <img [src]="doc.coverPath"
          (error)="onImgError($event)" alt="{{ doc.title }}">
      </div>

      <div class="book-info">
        <h3 class="book-title" title="{{ doc.title }}">{{ doc.title }}</h3>
        <div class="book-meta">
          <span class="badge">{{ doc.documentType }}</span>
          <span class="date">{{ doc.publicationDate | date:'yyyy' }}</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && documents.length === 0" class="empty-msg">
    <p>Hiện chưa có tài liệu nào trong danh sách này, vui lòng thử lại sau.</p>
    <button class="btn-back" (click)="goBack()" style="margin-top: 10px;">
      ← Quay lại
    </button>
  </div>

  <div class="pagination-bar" *ngIf="!isLoading && totalPages > 1">
    <button class="btn-page" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
      <i class="fa fa-angle-left"></i> Trước
    </button>

    <div class="page-numbers">
      <span *ngFor="let p of [].constructor(totalPages); let i = index" class="page-num"
        [class.active]="(i + 1) === currentPage" (click)="changePage(i + 1)">
        {{ i + 1 }}
      </span>
    </div>

    <button class="btn-page" [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">
      Sau <i class="fa fa-angle-right"></i>
    </button>
  </div>
</div>